.crew-body {
  background-color: black;
  background-image: url("../images/crew-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

// HEADER>>>>>>>>>>>>

.crew-body {
  background-image: url("../images/crew-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left;
}
.crew-header {
  padding: 40px 0 76px 55px;
}
.crew-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crew__logo-link {
  display: inline-block;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 48px;
}
.navbar {
  position: relative;
  width: 830px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(81.55px);
  background: rgba(255, 255, 255, 0.04);

  &::before {
    content: "";
    position: absolute;
    width: 473px;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -449px;
  }
}

.navbar__link {
  display: inline-block;
  padding: 35px 0;
  color: rgb(255, 255, 255);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;

  &:hover {
    border-color: white;
  }
}
.navbar__bold {
  display: inline-block;
  margin-right: 11px;
  color: rgb(255, 255, 255);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.7px;
}
